<html>
    <head>
        <link rel="icon" href="./favicon.ico" />
        <meta charset="utf-8" />
        <title>Cocos Creator | <%= projectName %></title>
        <meta
                name="viewport"
                content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1,minimal-ui=true"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="full-screen" content="yes" />
        <meta name="screen-orientation" content="portrait" />
        <meta name="x5-fullscreen" content="true" />
        <meta name="360-fullscreen" content="true" />
        <meta name="renderer" content="webkit" />
        <meta name="force-rendering" content="webkit" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link rel="stylesheet" type="text/css" href="<%= cssUrl %>"/>
    </head>
    <body>
        <div id="GameDiv">
            <div id="Cocos3dGameContainer">
                <canvas id="GameCanvas" oncontextmenu="event.preventDefault()" tabindex="0"></canvas>
            </div>
        </div>
        <script src="src/polyfills.bundle.js" charset="utf-8"></script>
        <script src="src/system.bundle.js" charset="utf-8"></script>
        <script src="src/import-map.json" type="systemjs-importmap" charset="utf-8"></script>
        <script>
            function loadGame() {
                System.import('./index.js');
            }

            function waitForSystemThenLoadGame() {
                if (typeof System !== 'undefined' && typeof System.import === 'function') {
                    loadGame();
                } else {
                    setTimeout(waitForSystemThenLoadGame, 50);
                }
            }

            let bridgeScript = null
            let bridgeTimeout = null
            let bridgeLoaded = false
            
            function addLocalBridge() {
                if (bridgeLoaded) return
                bridgeLoaded = true
                clearTimeout(bridgeTimeout)

                if (bridgeScript && bridgeScript.parentNode) {
                    bridgeScript.onload = null
                    bridgeScript.onerror = null
                    bridgeScript.src = ''
                    bridgeScript.parentNode.removeChild(bridgeScript)
                }

                const scriptElement = document.createElement('script')
                scriptElement.src = './playgama-bridge.js'
                document.body.appendChild(scriptElement)
                scriptElement.onload = function() {
                    initializeBridge()
                }
            }

            bridgeScript = document.createElement('script')
            bridgeScript.src = 'https://bridge.playgama.com/v1/stable/playgama-bridge.js'
            bridgeScript.onload = initializeBridge
            bridgeScript.onerror = addLocalBridge

            bridgeTimeout = setTimeout(() => {
                console.warn('CDN bridge failed to load within 2 seconds, loading local bridge')
                addLocalBridge()
            }, 2000)

            document.head.appendChild(bridgeScript)

            function initializeBridge() {
                clearTimeout(bridgeTimeout)
                bridge.engine = 'cocos'
                bridge.initialize().finally(() => { waitForSystemThenLoadGame(); })
            }
        </script>
    </body>
</html>
